/*  your css code here. If applicable */
body {
    background-color: #b481dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#buttons {
    display: flex;
    gap: 10px;
}

.btn, .stop {
    background-color: #613387;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover, .stop:hover {
    background-color: #48275e;
}

.stop {
    background-color: red;
}

.stop:hover {
    background-color: darkred;
}
}